S3method("print","MCAvariants")
S3method("plot","MCAvariants")
import(methods,tools, ggplot2, ggrepel, gridExtra)
importFrom("stats", "pchisq", "qchisq")
importFrom("ggplot2","ggplot")
importFrom("gridExtra","grid.arrange")
importFrom("plotly", "layout", "config")
importFrom("grDevices", "dev.new")
importFrom("plotly","plot_ly", "add_trace")
importFrom("stats", "pchisq", "qchisq")
exportPattern("^[[:alpha:]]+")
#exportClasses("mcabasicresults")
#export(
#"MCAvariants",
#"plot.MCAvariants",
#"print.MCAvariants"
#)